{% extends "layout.html"%}
{% block body %}
    <ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="/">Kertaa</a></li>
	<li><a href="/addentry">Lisää sisältöä</a></li>
    </ul>
    <br/>
    <p>Kertaa ruotsin taitoja ja valmistaudu virkamiesruotsin kokeeseen.
    Voit myös lisätä palveluun omaa sisältösi.
    </p>
    <br/>
    <div class="btn-group">
        <button class="btn btn-default" id="startquiz">Uusi testi</button>
        <button class="btn btn-default" id="repeat">Kertaa</button>
    </div>
    <br/>
    <div id="quiz"></div>
{% endblock %}



